body
{
background-color:rgb(245, 239, 152);
}
#box
{
position:absolute;
background-color:rgba(80, 199, 167,0.6);
border-radius:10px;
width:0.2%;
height:0.2%;
left:35%;
top:-50%;
overflow:hidden;
}
#Login_text
{
font-size:40px;
position:absolute;
top:10%;
left:32.5%
}
#inputs
{
position:absolute;
top:25%;
left:25%;
font-size:20px;
}
#check_data
{
position:absolute;
bottom:-130px;
right:-70px;
background-color:green;
width:85px;
height:55px;
font-size:20px;
color:white;
}
#check_data:hover
{
background-color:white;
color:rgb(80, 199, 167);
cursor:pointer;
}
#sign_up-_path
{
position:absolute;
right:20px;
bottom:50px;
background-color:grey;
width:340px;
height:70px;
font-size:30px;
}
#sign_up-_path:hover
{
color:blue;
background-color:white;
cursor:pointer;
}
#login_error
{
position:absolute;
bottom:10%;
left:30%;
font-size:25px;
}