body{
margin:0px;
padding:0px;
background-image:url("../images/background.jpg");
}
div.container
{
margin-left:150px;
margin-top:70px;
margin-bottom:90px;
margin-right:150px;
}
div.list
{
padding:0px;
margin-left:40px;
}
.ul
{
list-style-type:none;
margin:0px;
padding:0px
}
a{
text-decoration:none;
color:#bc13fe;
text-align:center;
}
a:hover{
background-color:#41A317;
}
.image
{
width:470px;
height:270
padding:20px;
margin-left:5px;
}
.li
{
border-radius:20px;
background-color:#ebecf0;
width:480px;
height:320px;
margin-bottom:20px;
text-align:center;
list-style-type:none;
border-style:solid;
display:inline-block;
font-size:30px;
}
.searchbar
{
margin-left: 320px;
margin-bottom: 35px;
}
input
{
border:3px solid;
border-color:#32e17c;
width:360px;
height:40px;
border-radius:50px;
padding:0px 10px
}
.mode
{
margin-top:10px;
}
.button1
{
border-style:solid;
border-radius:40px;
border-color:green
padding:10px;
margin:3px;
length:5%;
height:2%;
background-color:black;
color:white;
}
.button2
{
border-style:solid;
border-radius:40px;
border-color:green
padding:10px;
margin:3px;
length:5%;
height:2%;
}
button:hover
{
color:red;
}
header {
width:100%;
height:110px;
background-color: #f5f2d0;
}
.nav
{
display: inline;
margin-right:8px;
margin-left:0;
border-right: 2px solid #bbb;
}
.pages
{
position:absolute;
top:25px;
left:21%;
font-size:20px;
background-color:#bea493;
text-align:center;
padding:10px;
}
.pages a{
text-align:center;
color:white;
}
.pages a:hover ,.dropdown:hover .dropbtn
{
background-color:white;
color:red;
}
.nav:last-child {
  border-right: none;
  margin:0;
}
.nav:first-child {
  margin:0;
}
.buy_pg
{
position:absolute;
right:10px;
top:30px;
width:15%;
height:10%;
background-color:rgba(242, 27, 55,1);
font-size:20px;
}
.login_pg
{
position:absolute;
right:17%;
top:30px;
width:15%;
height:10%;
background-color:rgba(147, 184, 245,0.3);
font-size:20px;
}
.login_pg:hover,.buy_pg:hover
{
cursor:pointer;
background-color:white;
color:red;
}
#star
{
position:absolute;
right:33%;
top:43px;
}
li.dropdown {
  display: inline-block;
border-right: 2px solid #bbb;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #f5f2d0;
   color: black;
   text-align: center;
}
