body{
margin:0px;
padding:0px;
background-repeat:repeat;
background-image:url("../images/background.jpg");
}
.container
{
margin-top:50px;
margin-bottom:150px;
}
div.leftcars
{
margin-right:20px;
margin-top:10px;
margin-bottom:20px;
margin-left:170px;
border-radius:20px;
width:450px;
height:450px;
background-color:grey;
display: inline-block;
padding:10px;
border-style:solid;
border-color:white
}
div.leftcar{
width:450px;
height:280px;
border-radius:10px;
}
a{
text-decoration:none;
color:#10004c;
}
a:hover{
background-color:#FBCEB1;
}
p.price{
font-size:23px;
display:inline;
color:white;
}
h1{
display:inline;
}
div.button{
float:right;
}
div.rightcars
{
margin-top:10px;
margin-right:178px;
margin-bottom:20px;
width:450px;
height:450px;
background-color:grey;
display: inline-block;
padding:10px;
float:right;
border-radius:20px;
border-style:solid;
border-color:white;
}
.btn
{
color:black;
font-size:20px;
padding:10px;
display:inline-block;
border-radius:10px;
border:2px solid;
border-color:black;
background-color:#08F7FE;
}
.next
{
float:right;
margin-right:168px;
margin-top:30px;
margin-bottom:20px;
}
.nextpage
{
display:inline-block;
font-size:20px;
border-style:solid;
border-radius:40px;
padding:10px;
color:white;
background: linear-gradient(90deg,#0162c8,#55e7fc);
}
.nextpage:hover
{
color:red;
}
.prev
{
margin-left:170px;
margin-top:30px;
margin-bottom:20px;
}
.nameofcar
{
margin-left:550px;
}
h1
{
color:#10004c;
font-size:40px;
}
.containterofcar
{
width: 570px;
height: 320px;
margin-left: 400px;
margin-top: 10px;
margin-bottom: 30px;
background-color: grey;
padding-left: 17px;
border-style:solid;
border-radius:15px;
border-color:black;

}
#slider
{
width:550px;
height:300px;
overflow: hidden;
border-style:block;
border-radius:10px;
border-color:black;
}
.slides
{
display: block;
width:3000px;
height:300px;
margin-left:0;
padding:0;
}

.slide{
float:left;
list-style-type:none;
width:550px;
height:300px;
}
.table
{
margin-left:413px;
}
table,td,tr
{
border-style:solid;
border-radius:1px;
border-color:black;
border-collapse:collapse;
}
table
{
width:580px;
}
td{
height:50px;
text-align:left;
padding:5px;
}
tr:nth-child(even) {
background-color:#87ceeb;
}
.buyinfo
{
float:right;
margin-right:340px;
margin-top:20px;
}