body
{
background-color:grey;
}
#head
{position:absolute;
background-color:black;
width:96%;
top:15%;
height:10%;
padding:10px;
}
#sign_up_text
{
position:absolute;
top:8%;
color:white;
text-align:center;
left:42.5%;
font-size:50px;
}
#information
{
position:absolute;
top:28%;
width:50%;
left:15px;
height:90%
padding:10px;
font-size:25px;
}
input
{
width:25%;
}
#remember
{
width:10px;
}
#check_data
{
position:absolute;
bottom:-50%;
left:85%;
width:30%;
height:20%;
background-color:turquoise;
font-size:30px;
}
#check_data:hover
{
background-color:white;
color:green;
cursor:pointer;
}
#change_theme
{
position:absolute;
right:10%;
top:45%;
background-color:black;
color:blue;
width:18%;
height:7%;
font-size:24px;
}
#change_theme:hover
{
background-color:white;
cursor:pointer;
color:red;
}